*{
  margin: 0;
}
body{
  background-color: white;
}

h1{
  margin-top: 10px;
  text-align: center;
}

/*-------------------------------------------------------------------
//                    **NAVBAR**
//-------------------------------------------------------------------*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 50px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  width: 355px;
  float: left;
  text-align: center;
  padding-left: 100px
}

a{
  text-align: center;
}

li a{
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}


/*-------------------------------------------------------------------
//                    **CELLS**
//-------------------------------------------------------------------*/

.cell1{
  background-color: gray;
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
